<table class="text-center">
    <thead>
        <tr>
            <th>title</th>
            <th>author</th>
            <th>pages</th>
            <th>publisher</th>
            <th>synopsis</th>
            <th>price</th>
            <th>stock</th>
            <th>cantidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (libro of libros; track libro.id) {
        <tr>
            <td>{{libro.title}} </td>
            <td>{{libro.author}} </td>
            <td>{{libro.pages}} </td>
            <td>{{libro.publisher}} </td>
            <td>{{libro.synopsis}} </td>
            <td>{{libro.price}} </td>
            @if (libro.stock <= 0) {
                <td>SIN STOCK</td>
            }@else {
                <td>{{libro.stock}}</td>
                <td>
                    <app-input-integer [(quantity)]="libro.quantity" [max]="libro.stock"></app-input-integer>
                </td>
                <td>
                    <button (click)="addToCart(libro)">Añadir al carrito</button>
                </td>
            }
            
        </tr>
        }
    </tbody>
</table>